* {
  box-sizing: border-box;
  --background-color: #597c67;
  --paragraph-color: #565656;
  --box-shadow-color: rgba(185, 185, 185, 0.3);
  --box-shadow: 0px 2px 10px var(--box-shadow-color),
    -10px 5px 10px var(--box-shadow-color), 3px 5px 5px var(--box-shadow-color);
}

body {
  height: 100vh;
  overflow-x: hidden;
  position: relative;
  font-family: 'Roboto', Helvetica, sans-serif;
}

h1,
h2,
h3 {
  font-family: 'EB Garamond', 'Times New Roman', Times, serif;
}

.trapezoid {
  position: absolute;
  width: 100%;
  height: 400px;
  background: var(--background-color);
  transform: translate(-50px, -220px) scale(2) skewY(-20deg) rotate(170deg);
}

header.about-me {
  position: relative;
}

header.about-me,
.projects {
  padding: 1.5rem;
}

.image-name-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  margin: 0 auto -40px auto;
}

.image {
  width: 260px;
}

.name {
  font-size: 3rem;
  color: #fff;
  text-shadow: 1px 1px 2px #3d402f;
  transform: translateY(-120%);
}

.about-me-container {
  margin-top: -20px;
}

.about-me-heading,
.my-work {
  font-size: 2.2rem;
}

.about-me-paragraph {
  line-height: 1.5;
  color: var(--paragraph-color);
  margin: 10px 0;
}

.name,
.about-me-heading {
  margin: 0;
  text-align: center;
  font-weight: normal;
}

.social-icon-container,
.footer-social-icon-container {
  width: 100%;
  display: flex;
  gap: 15px;
  justify-content: center;
}

.social-icon {
  width: 30px;
}

.social-icon:hover {
  transform: scale(1.2);
}

.repo-icon {
  width: 25px;
}

.social-icon {
  transition: transform 300ms ease-in-out;
}

.social-icon,
.repo-icon,
.live-preview-icon {
  cursor: pointer;
}

.repo-icon,
.live-preview-icon {
  transition: transform 500ms ease-in-out;
}

.live-preview-icon,
.phone-icon,
.email-icon {
  width: 23px;
}

.repo-icon:hover,
.live-preview-icon:hover {
  transform: scale(1.07) rotate(45deg);
}

.my-work,
.footer-heading {
  text-align: center;
}

.projects-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 50px;
}

.project-heading {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-top: 10px;
}

.project-heading h3 {
  margin: 0;
  font-size: 1.25rem;
}

.repo-link {
  margin-right: 10px;
}

.project-icons a {
  text-decoration: none;
}

.my-work,
.project-name,
.footer-heading {
  font-weight: normal;
}

.project-container {
  margin: 0 auto;
  box-shadow: var(--box-shadow);
  transition: transform 300ms ease-in-out;
  will-change: transform;
  max-width: 300px;
}

.project-container:hover {
  transform: scale(1.015);
  background: rgba(195, 200, 140, 0.1);
}

.screenshot {
  width: 100%;
}

.project-data-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-description {
  margin: 0;
  padding: 15px 10px 50px;
  color: var(--paragraph-color);
}

footer.contact {
  background: var(--background-color);
  color: #fff;
  padding-top: 1.5rem;
  margin-top: 8rem;
}

.contact-details {
  max-width: 350px;
  margin: 0 auto;
}

footer.contact p {
  padding: 0 1.5rem;
}

.footer-heading {
  font-size: 2.3rem;
  margin: 0;
}

.address {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.phone-container,
.email-container {
  display: flex;
  gap: 10px;
}

.phone-icon,
.email-icon {
  display: none;
}

.phone {
  margin-bottom: 0.5rem;
}

.email,
.phone {
  margin-top: 0;
}

.footer-image {
  width: 100%;
  margin-top: 4rem;
}

@media (min-width: 400px) {
  .image {
    width: 330px;
  }

  .name {
    font-size: 3.5rem;
  }
}

@media (min-width: 620px) {
  /* Implement layout for tablet devices */
  .trapezoid {
    transform: translate(-50px, -270px) scale(2) skewY(-19deg) rotate(183deg);
  }

  header.about-me {
    padding: 2.5rem 2rem;
  }

  .image-name-container {
    float: left;
    position: relative;
    z-index: 2;
    height: 263px;
    margin: 0 auto;
  }

  .name {
    transform: translate(85%, -580%);
    font-size: 3.5rem;
  }

  .image {
    width: 350px;
  }

  .about-me-container {
    position: relative;
    padding: 4rem 2rem 2rem 2rem;
    background: #fff;
    box-shadow: var(--box-shadow);
    transform: translate(4%, 25%);
    float: none;
    z-index: 1;
    height: 410px;
    width: 550px;
  }

  .social-icon-container {
    display: none;
  }

  .projects {
    margin: 0 auto;
    padding-top: 6rem;
  }

  .my-work {
    text-align: left;
  }

  .project-container {
    margin: 0;
    max-width: unset;
  }

  .project-heading,
  .project-description {
    width: 100%;
  }

  .project-heading {
    justify-content: space-between;
    padding: 0 10px;
  }

  footer.contact {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-bottom: 2.5rem;
  }

  .contact-details {
    margin: 0;
  }

  .footer-heading {
    text-align: left;
    padding-left: 1.5rem;
  }

  .footer-social-icon-container {
    justify-content: flex-start;
    padding-left: 1.5rem;
    margin-top: 1.5rem;
  }

  .footer-image {
    width: 300px;
    margin-top: 0;
    display: block;
    margin-right: 1.5rem;
  }
}

@media (min-width: 650px) {
  .header-content-container {
    width: fit-content;
    margin: 30px auto;
  }

  .projects {
    padding-top: 4rem;
  }

  .project-container {
    max-width: unset;
  }
}

@media (min-width: 660px) {
  .phone-container,
  .email-container {
    align-items: center;
    padding-left: 1.5rem;
  }

  footer.contact .phone,
  footer.contact .email {
    margin-bottom: 0;
    padding: 5px 0;
  }

  .phone-icon,
  .email-icon {
    display: block;
  }
}

@media (min-width: 700px) {
  .projects {
    padding-right: 3rem;
    padding-left: 3rem;
  }
}

@media (min-width: 800px) {
  .trapezoid {
    transform: translate(-50px, -240px) scale(2) skewY(-17deg) rotate(180deg);
  }

  .name {
    transform: translate(80%, -510%);
    font-size: 4.5rem;
  }

  .image {
    width: 400px;
  }

  .about-me-container {
    transform: translate(5%, 40%);
    height: 420px;
    width: 700px;
  }

  .about-me-heading {
    font-size: 2.5rem;
  }

  .about-me-paragraph {
    font-size: 1.1rem;
  }

  .projects {
    padding-top: 8rem;
  }
}

@media (min-width: 1000px) {
  .trapezoid {
    transform: translate(-50px, -240px) scale(2) skewY(-13deg) rotate(180deg);
  }

  /* Implement layout for larger screens devices */
  .image-name-container {
    transform: translateX(-250px);
    float: none;
  }

  .name {
    transform: translate(0%, -115%);
    font-size: 4rem;
  }

  .about-me-container {
    transform: translate(200px, -59%);
    height: fit-content;
    width: 500px;
    padding: 2rem;
  }

  .about-me-heading {
    text-align: left;
  }

  .social-icon-container {
    display: flex;
    justify-content: flex-end;
  }

  .projects {
    padding: 0 5rem;
    transform: translateY(-15%);
  }

  footer.contact {
    padding-top: 2.5rem;
    margin-top: 0;
  }

  .footer-image {
    width: 500px;
  }
}

@media (min-width: 1200px) {
  .trapezoid {
    transform: translate(-50px, -240px) scale(2) skewY(-10deg) rotate(180deg);
  }

  .projects {
    padding: 0 12rem;
    transform: translateY(-14%);
  }
}

@media (min-width: 1245px) {
  .projects {
    transform: translateY(-20%);
  }
}
