* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  overflow-x: hidden;
  position: relative;
}

.trapezoid {
  position: absolute;
  width: 100%;
  height: 400px;
  background: #6D3914;
  background: #AB7843;
  background: #4C2B08;
  /* background: #9C0D0F; */
  transform: translate(-50px, -220px) scale(2) skewY(-20deg) rotate(170deg);
}

header.about-me {
  position: relative;
  padding: 1.5rem;
}

.image-name-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image {
  width: 300px;
}

.name {
  margin: 0;
  font-size: 2.8rem;
  color: #4C2B08;
  color: #6D3914;
  color: #fff;
  text-align: center;
  text-shadow: 2px 2px 2px #4C2B08;
  transform: translateY(-110%);
}

@media (min-width: 600px) {
  .trapezoid {
    transform: translate(-50px, -240px) scale(2) skewY(-19deg) rotate(180deg);
  }
}

@media (min-width: 800px) {
  .trapezoid {
    transform: translate(-50px, -240px) scale(2) skewY(-17deg) rotate(180deg);
  }
}

@media (min-width: 1000px) {
  .trapezoid {
    transform: translate(-50px, -240px) scale(2) skewY(-13deg) rotate(180deg);
  }
}

@media (min-width: 1200px) {
  .trapezoid {
    transform: translate(-50px, -240px) scale(2) skewY(-10deg) rotate(180deg);
  }
}

